* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

header {
    padding: 1vw 0;
    border-bottom: 1px solid #C8C8C8;
}

.wrapper-header {
    width: 78.54vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-header {
    font-weight: 600;
    font-size: .83vw;
    color: #000000;
}

.link-header-main{
    font-weight: 700;
    font-size: 1.5VW;
    color: #000000;
}

nav a {
    margin-left: 1.5vw;
}

.block-info {
    width: 78.54vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.20vw 0;
}

.block-info__img {
    width: 30vw;
}

.block-info__text h2 {
    font-size: 2.604vw;
    font-weight: bold;
    line-height: 130%;
    color: #000000;
    margin-bottom: 3vw;
}

.block-info__text a {
    display: block;
    width: 20.83vw;
    text-align: center;
    background: #0096B1;
    border-radius: 5px;
    color: #fff;
    font-size: 0.93vw;
    padding: 0.88vw 0;
}

.block-pols{
    background: #0096B1 ;
    padding: 5.20vw 0;
}

.header-pols-black{
    width: 52.08vw;
    margin: 0 auto;
}
.header-pols-black h3{
    font-weight: 600;
    font-size: 1.35vw;
    color: #000;
    text-align: center;
    margin-bottom: 1.5vw;
}

.header-pols{
    width: 52.08vw;
    margin: 0 auto;
}

.header-pols h3{
    font-weight: 600;
    font-size: 1.35vw;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1.5vw;
}

.header-pols p{
    font-size: 0.88vw;
    line-height: 150%;
    color: #FFFFFF;
    text-align: justify;
}

.wrapper__pols-item{
    width: 78.54vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
}

.pols-item{
    width: 21.875VW;
}

.wrapper__profs-item{
    padding: 5.2vw 0;
    width: 78.54vw;
    margin: 0 auto;
}

.wrapper-profs-images{
    display: flex;
    justify-content: space-between;
}
.pols-item h4{
    font-weight: bold;
    font-size: 1.197vw;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 1.406vw;
}

.pols-item p {
    font-size: 0.93vw;
    line-height: 156%;
    color: #FFFFFF;
    text-align: justify;
}

.wrapper-buy-item{
    width: 78.54vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 4vw 0 ;
    flex-wrap: wrap;
}


.wrapper-buy-item__block{

    width: 31%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid #C8C8C8;
    padding-bottom: 2.86vw;
    margin-bottom: 2vw;
}

.buy-item__block__img{
    margin-bottom: 1.822vw;
}

.buy-item__block__title{
    font-size: 1.197vw;
    line-height: 140%;
    color: #000000;
    margin-bottom: 1vw;
    margin-left: 2.29vw;
}

.buy-item__block__line{
    width: 1.35vw;
    border: 1px solid #000000;
    margin-bottom: 1vw;
    margin-left: 2.29vw;
    background: #000000;
}

.buy-item__block__text{
    margin-left: 2.29vw;
    font-size: 1vw;
    line-height: 147%;
    color: #000000;
    width: 85%;
}

.btn-buy-wrapper{
    display: flex;
    align-items: center;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    padding: 0.8vw 1.30vw;
    width: 70%;
    margin: 0 auto;
    margin-top: 3vw;
}

.btn-buy-wrapper img{
    width: 1.562vw;

}
.btn-buy-wrapper p{
    font-size: 0.83vw;
    line-height: 20px;
    display: flex;
    color: #000000;
    margin-left: 1.04vw;
}

.faq-item{
    margin-top: 1vw;
}

.faq{
    padding: 2.5vw 0;
    width: 78.54vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.profs{
    width: 78.54vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profs h2{
    padding: 2.5vw 0;
    width: 100%;
}
.faq h2{
    font-size: 2vw ;
    margin-bottom: 2vw;
}

.faq-item__title{
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.faq-item__title img{

    width: 1.5vw;
    margin-right: .5vw;
}

.faq-item__content{
    display: none;
    margin-top: .5vw;
    padding-left: 2vw;
}

.open-acord{
    display: block;
}

.email-info{
    font-size: 1vw;
    line-height: 140%;
    margin-bottom: 2vw;
}

.email-text{
    font-size: 1.25vw;
    font-weight: 600;
}

.profs__img{
    width: 48.5%;
    margin-bottom: 2vw;
    border-radius: none;
}

.footer{
    padding: 2vw 0;
    display: flex;
    justify-content: space-between;
    width: 78.54vw;
    margin: 0 auto;
}

.wraper-footer{
    display: flex;
}

.footer__item{
    display: flex;
    flex-direction: column;

}
.footer__item h5{
    font-weight: bold;
    font-size: 1.3vw;
    color: #000000;
}

.footer__item a{
    font-weight: 600;
    font-size: 0.83vw;
    line-height: 180%;
    color: #000000;
}

.wraper-footer{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.right-side{
    text-align: right;
}
